.InfoGV {
  padding: 80px 20px;
  .infoBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    .title {
      font-family: "Lato", sans-serif;
      color: #f15b44;
      font-size: 18px;
      display: inline-block;
      vertical-align: baseline;
    }
    .content {
      font-family: "Lato", sans-serif;
      text-align: left;
      font-size: 16px;
    }

    img {
      margin-bottom: 30px;
      width: 20%;
      height: auto;
    }
  }

  .discover img {
    margin-bottom: 16px;
  }

  .challenge img {
    margin-bottom: 36px;
  }
}
