.InfoGTa {
  padding: 80px 20px; /* Adjust padding for smaller screens */
}

.infoBlock {
  align-items: center;
  display: flex;
  flex-direction: column;

  .title {
    font-family: "Lato", sans-serif;
    color: #0cb9c1;
    font-size: 18px;
    display: inline-block;
    vertical-align: baseline;
  }

  .content {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 16px;
  }

  img {
    margin-bottom: 30px;
    width: 20%; /* Make the images fill the container width */
    height: auto;
  }
}

.discover img {
  margin-bottom: 16px;
}

.challenge img {
  margin-bottom: 32px;
}
